<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heartbeat Music Shuffle</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container">
    <h1>Heartbeat Music Shuffle</h1>
    <form id="heartbeatForm">
        <label for="heartbeat">Enter Your Heartbeat:</label><br>
        <input type="number" id="heartbeat" name="heartbeat" placeholder="Enter your heartbeat" required><br><br>
        <button type="submit">Shuffle Music</button>
    </form>
    <div id="songContainer"></div>
    <div id="player"></div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
